page-create-password {
  .list-md .item-input.item-input-has-focus:last-child, .list-md .item-input.input-has-focus:last-child {
    border-bottom-color: $light-gray !important;
    box-shadow: none !important;
  }

  .list-md .item-input.ng-invalid.ng-touched:not(.input-has-focus):not(.item-input-has-focus):last-child {
    border-bottom-color: $light-gray !important;
    box-shadow: none !important;
  }

  .list-md .item-input:last-child {
    border-bottom: none !important;
  }

  ion-input {
    .text-input {
      border-bottom: 1px solid $light-black;
      padding-bottom: 10px;
      color: $light-black !important;
    }
  }

  .scroll-content {
    padding-top: 30px;
  }

  .list-md .item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus):last-child, .list-md .item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus):last-child {
    box-shadow: none;
  }

  .lock-icon {
    margin-bottom: -10px !important;
    margin-right: 15px !important;
  }
}
