page-login {
  .input-cover{
    display: none;
  }
  .toolbar-title {
    img {
      text-align: center;
    }
  }
  #logo {
    margin-bottom: 20%;
  }
  .hollow-item {
    border-bottom: 0;
    .forgot-pass {
      float: right;
      color: $blue;
      font-size: 80%;
    }
    .item-inner {
      border-bottom: 0 !important;
    }

  }

  .terms {
    font-size: 90%;
    text-align: center;
    a {
      text-decoration: none;
    }
  }
  .stats-button-container {
    padding-top: 20px !important;
    padding-right: 0;
  }

  #phone-country {
    border-bottom: 0.55px solid #c8c7cc;
    padding-top: 20px;
    padding-bottom: 0;
    margin-bottom: 0;
    font-size: 30px;
  }


}
