page-amount {
  .text-input[disabled]  {
    opacity: 1;
  }

  .add-comment-link {
    text-align: center;
    margin-top: 20px;
    a {
      text-decoration: none;
    }
  }

  .comment-item {
    height: 64px;
  }

  .icon-container {
    width: 20px;
  }
}
