page-forgot-password {
  #resetPhone {
    margin-top: 20%;
  }

  #phone-country {
    border-bottom: 0.55px solid #c8c7cc;
    padding-top: 20px;
    padding-bottom: 0;
    margin-bottom: 0;
    font-size: 30px;
  }

  .input-cover{
    display: none;
  }

}
