<!--
  Generated template for the HomePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header [ngClass]="{ 'blur' : blurPage }">

  <ion-navbar color="primary" (click)="clickOnContent()">
    <ion-buttons start>
      <button ion-button icon-only (click)="profile()">
        <img src="assets/icon/user-white.svg"/>
      </button>
    </ion-buttons>
    <ion-buttons end>
      <button ion-button icon-only (click)="goToRates()">
        <img src="assets/icon/rates-white.svg"/>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content (click)="clickOnContent()">
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <div class="no-history"
       [ngClass]="{ 'blur' : blurPage }"
       *ngIf="userStatus === HomePage.STATUS_NO_TRANSACTIONS">
    <img src="assets/imgs/astronaut.svg"/>
    <h3>No transaction history</h3>
    <p>
      Tap + to send money to someone special
    </p>
  </div>
  <div class="no-history"
       [ngClass]="{ 'blur' : blurPage }"
       *ngIf="userStatus === HomePage.STATUS_APPROVED">
    <img src="assets/imgs/skate_man.svg"/>
    <h3>Congratulations!</h3>
    <p>
      Your account has been verified. What <br/>would you like to do next?
    </p>
  </div>
  <div class="hello"
       [ngClass]="{ 'blur' : blurPage }"
       *ngIf="[HomePage.STATUS_BLANK, HomePage.STATUS_REJECT].indexOf(userStatus) > -1">
    <img src="assets/imgs/hello_user.svg"/>
    <h3 *ngIf="userStatus === HomePage.STATUS_BLANK">Hello, new user</h3>
    <h3 *ngIf="userStatus === HomePage.STATUS_REJECT">Unverified</h3>
    <p *ngIf="userStatus === HomePage.STATUS_BLANK">
      Your account has been successfully created.<br/>Please add your name and photos of your ID to complete
      the registration.
    </p>
    <p *ngIf="userStatus === HomePage.STATUS_REJECT" class="release-reason">
      <span [outerHTML]="rejectReason"></span>
    </p>
  </div>
  <div class="hello"
       [ngClass]="{ 'blur' : blurPage }"
       *ngIf="userStatus === HomePage.STATUS_HAVE_DOCS">
    <img src="assets/imgs/hello_user.svg"/>
    <h3>Thank you!</h3>
    <p>
      You will get a notification once your<br/>account is verified and ready to use
    </p>
  </div>
  <ion-scroll scrollX="true"
              [ngClass]="{ 'blur' : blurPage }"
              *ngIf="balance !== undefined && balance.length > 0 && userStatus === HomePage.STATUS_ACTIVE">
    <ion-card class="currency-card" *ngFor="let balanceUnit of balance" (click)="withdraw(balanceUnit.id)">
      <div class="header">Balance</div>
      <div class="balance">{{balanceUnit.balance}} {{balanceUnit.currency}} </div>
      <div class="withdraw">Withdraw money</div>
      <div class="card-logo">
        <img src="assets/imgs/diamond.svg"/>
      </div>
    </ion-card>
  </ion-scroll>
  <ng-container
    *ngIf="[HomePage.STATUS_ACTIVE].indexOf(userStatus) > -1">
    <ion-item-group *ngFor="let day of historyKeysToShow"
                    [ngClass]="{ 'blur' : blurPage }"
    >
      <ion-item-divider color="light">{{(day === today) ? 'Today' : day}}</ion-item-divider>
      <ng-container *ngFor="let transaction of historyToShow[day]">
        <ion-item *ngIf="transaction.user">
          <ion-avatar item-start>
            <img src="{{transaction.user.photo !== ''?
          (userProvider.envVars.API + transaction.user.photo):
          'assets/icon/empty_avatar.svg'}}"/>
          </ion-avatar>
          <h2 *ngIf="transaction.source_type === HomePage.SOURCE_TRANSACTION">
            {{transaction.user.full_name || transaction.user.phone_number}}
          </h2>
          <h2 *ngIf="transaction.source_type === HomePage.SOURCE_REQUEST" class="wrap">
            <b>{{transaction.user.full_name || transaction.user.phone_number}}</b> sent a request for <b>{{transaction.amount}} {{transaction.currency.currency}}</b>
          </h2>
          <div class="transaction-time">
            {{(transaction.created_at | amDateFormat: 'h:mma').toUpperCase()}}
            <div class="transaction-status" *ngIf="transaction.source_type === HomePage.SOURCE_TRANSACTION">
              <ng-container *ngFor="let status of HomePage.TRANSACTION_STATUSES">
                <span *ngIf="transaction.status === status.value"
                      [class]="status.className">
                  {{status.display}}
                </span>
              </ng-container>
            </div>
            <div class="explore-button"
                 *ngIf="transaction.source_type === HomePage.SOURCE_REQUEST"
                 (click)="processTransaction(transaction)"
            >Explore</div>
          </div>
          <p *ngIf="transaction.comment" class="transaction-comment">"{{transaction.comment}}"</p>
          <ion-note
            item-end
            *ngIf="transaction.source_type === HomePage.SOURCE_TRANSACTION"
            [ngClass]="{'transaction-amount-positive': transaction.type === '+',
                                     'transaction-amount-negative': transaction.type === '-'}"
          >
            {{transaction.type}} {{transaction.amount}} {{transaction.currency.currency}}
          </ion-note>
        </ion-item>
      </ng-container>
    </ion-item-group>
  </ng-container>
  <ion-fab right bottom
           #fab
           *ngIf="userStatus === HomePage.STATUS_NO_TRANSACTIONS || userStatus === HomePage.STATUS_ACTIVE">
    <button ion-fab
            (click)="toggleBlur()"
            class="fab-orange"><ion-icon name="add"></ion-icon></button>
    <ion-fab-list side="top">
      <button ion-fab color="primary" (click)="requestMoney(fab)">
        <ion-icon name="wifi" class="rotation-90"></ion-icon>
        <div class="label">Money request</div>
      </button>
      <button ion-fab class="fab-orange" (click)="sendMoney(fab)">
        <ion-icon name="arrow-round-forward"></ion-icon>
        <div class="label">Send money</div>
      </button>
    </ion-fab-list>
  </ion-fab>

</ion-content>

<ion-footer class="grey-toolbar" *ngIf="[HomePage.STATUS_BLANK, HomePage.STATUS_REJECT].indexOf(userStatus) > -1">
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col col-12>
          <button
            ion-button
            class="orange footer-button"
            full
            (click)="verifyProfile()"
          >Verify your profile</button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>

<ion-footer class="grey-toolbar" *ngIf="userStatus === HomePage.STATUS_APPROVED">
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col col-6><button
          ion-button
          class="sign-up footer-button"
          (click)="requestMoney()"
          block>Request money</button></ion-col>
        <ion-col col-6><button
          ion-button
          type="submit"
          block
          (click)="sendMoney()"
          class="orange footer-button"
        >Send money</button></ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>
