<!-- Generated template for the CountrySelectorComponent component -->
<ion-item id="phoneInput">
  <div id="phone-country" (click)="openCodesSelector()" item-start>
    <div class="phone-country-inner">
      <img src="{{imagePath}}" *ngIf="imagePath"/>
      <span class="selected-code">{{selectedCode}}</span>
    </div>
  </div>
  <ion-label floating>{{inputLabel}}</ion-label>
  <ion-input
    type="tel"
    pattern="\d*"
    [(ngModel)]="inputModel"
    name="inputModel"
    id="phoneNativeInput"
    (ionChange)="triggerInputEvent()"
    (ionFocus)="triggerInputEvent()"
  ></ion-input>
</ion-item>
