country-selector {
  .input-cover{
    display: none;
  }
  #phone-country {
    min-height: 68px;
    border-bottom: 0.55px solid #c8c7cc;
    display: flex;
    margin-bottom: 0;
    margin-top: 0;
    padding-right: 3px;
    .phone-country-inner {
      align-self: flex-end;
      margin-bottom: 8px;
      img {
        height: 20px;
        width: 26.6px;
      }
      .selected-code {
        margin-left: 5px;
        color: $blue;
      }
    }
  }
}
