<!-- Generated template for the CountrySelectorComponent component -->
<ion-item id="phoneInput">
  <div id="phone-country" (click)="openCodesSelector()" item-start>
    <img src="{{imagePath}}"/>
    <span class="selected-code">{{selectedCode}}</span>
  </div>
  <ion-label floating>{{inputLabel}}</ion-label>
  <ion-input
    type="tel"
    pattern="\d*"
    [(ngModel)]="inputModel"
    name="inputModel"
    id="phoneNativeInput"
    (ionChange)="triggerInputEvent()"
  ></ion-input>
</ion-item>
