page-withdraw-money {
  $text-input-md-show-focus-highlight: false !default;
  $text-input-md-show-valid-highlight: $text-input-md-show-focus-highlight !default;
  $text-input-md-show-invalid-highlight: $text-input-md-show-focus-highlight !default;
}
