page-exchange-rates {

  .scroll-content {
    background-color: $light-gray;
  }

  ion-label {
    color: $black !important;
  }

  .select-name {
    font-weight: bold;
  }

  .select-text {
    color: $blue;
    font-weight: bold;
  }

  .select-icon-inner {
    color: $blue !important;
  }

  .rate-note {
    padding-left: 16px;
    color: $light-black !important;
  }

  .top-block {
    margin-top: 30px;
  }

  .top-block-item {
    background-color: $light-gray !important;
  }

  .rate-currency {
    margin-left: 40px;
  }

  .currency-flag {
    position: absolute;
    top: 14px;
  }

  ion-note {
    font-weight: bold;
    color: $black !important;
  }

  .currency-item:nth-child(odd) {
    background-color: $light-gray;
  }
}
