page-exchange-rates {

  .scroll-content {
    background-color: $light-gray;
  }

  ion-label {
    color: $black !important;
  }

  .select-name {
    font-weight: bold;
  }

  .select-text {
    color: $blue;
    font-weight: bold;
  }

  .select-icon-inner {
    color: $blue !important;
  }

  .rate-note {
    color: $light-black !important;
  }

  .top-block {
    margin-top: 10px;
  }

  .top-block-item {
    background-color: $light-gray !important;
  }

  ion-note {
    font-weight: bold;
    color: $black !important;
  }

  .currencies-list {
    .item {
      background-color: $light-gray;
    }
  }

  .item {
    padding-left: 0;
  }

  .item.item-block .item-inner {
    padding-right: 0;
  }

  .text-input {
    margin-left: 0;
  }

  .item [item-start] {
    margin-right: 20px;
  }
}
