page-country-phone-selector {
  .scroll-content {
    background-color: $light-gray;
  }
  .country-item {
    padding-top: 5px;
    padding-bottom: 5px;
    img {
      height: 20px;
      position: absolute;
      top: 17px;
    }
  }
  .country-code {
    margin-left: 40px;
  }
  ion-note {
    color: $black !important;
  }
  ion-item:nth-child(odd) {
    background-color: $light-gray;
  }

  .bar-buttons-md {
    order: 1;
  }

}
