page-add-card {
  .input-cover{
    display: none;
  }

  [col-6] {
    padding: 0;
  }

  .list-md .item-input:last-child {
    border-bottom: none;
  }

  .datetime-md {
    padding: 13px 8px 2px 16px;
  }

}
