page-terms-and-conditions {
  #page_1 {position:relative; overflow: hidden;margin: 91px 0px 92px 76px;padding: 0px;border: none;width: 717px;}





  #page_2 {position:relative; overflow: hidden;margin: 75px 0px 107px 76px;padding: 0px;border: none;width: 717px;}





  #page_3 {position:relative; overflow: hidden;margin: 75px 0px 104px 76px;padding: 0px;border: none;width: 717px;}





  #page_4 {position:relative; overflow: hidden;margin: 91px 0px 824px 76px;padding: 0px;border: none;width: 717px;}





  .ft0{font: bold 19px 'Arial';line-height: 22px;}
  .ft1{font: 16px 'Times New Roman';line-height: 19px;}
  .ft2{font: bold 16px 'Times New Roman';line-height: 19px;}
  .ft3{font: 16px 'Times New Roman';line-height: 18px;}
  .ft4{font: bold 16px 'Times New Roman';line-height: 18px;}
  .ft5{font: 16px 'Arial';line-height: 18px;}
  .ft6{font: 16px 'Times New Roman';line-height: 20px;}
  .ft7{font: 15px 'Arial';line-height: 17px;}
  .ft8{font: 16px 'Times New Roman';margin-left: 19px;line-height: 19px;}

  .p0{text-align: left;margin-top: 0px;margin-bottom: 0px;}
  .p1{text-align: left;margin-top: 4px;margin-bottom: 0px;}
  .p2{text-align: left;padding-left: 47px;margin-top: 0px;margin-bottom: 0px;}
  .p3{text-align: left;margin-top: 34px;margin-bottom: 0px;}
  .p4{text-align: left;padding-right: 120px;margin-top: 3px;margin-bottom: 0px;}
  .p5{text-align: left;padding-right: 76px;margin-top: 15px;margin-bottom: 0px;}
  .p6{text-align: left;padding-right: 103px;margin-top: 34px;margin-bottom: 0px;}
  .p7{text-align: left;padding-right: 76px;margin-top: 36px;margin-bottom: 0px;}
  .p8{text-align: justify;padding-right: 84px;margin-top: 16px;margin-bottom: 0px;}
  .p9{text-align: left;margin-top: 16px;margin-bottom: 0px;}
  .p10{text-align: left;padding-left: 24px;margin-top: 19px;margin-bottom: 0px;}
  .p11{text-align: left;padding-left: 24px;margin-top: 1px;margin-bottom: 0px;}
  .p12{text-align: left;padding-left: 48px;padding-right: 97px;margin-top: 1px;margin-bottom: 0px;text-indent: -24px;}
  .p13{text-align: left;padding-left: 48px;padding-right: 89px;margin-top: 0px;margin-bottom: 0px;text-indent: -24px;}
  .p14{text-align: left;padding-left: 48px;padding-right: 94px;margin-top: 1px;margin-bottom: 0px;text-indent: -24px;}
  .p15{text-align: left;padding-left: 48px;margin-top: 0px;margin-bottom: 0px;}
  .p16{text-align: left;padding-right: 79px;margin-top: 18px;margin-bottom: 0px;}
  .p17{text-align: left;padding-right: 87px;margin-top: 36px;margin-bottom: 0px;}
  .p18{text-align: justify;padding-right: 98px;margin-top: 3px;margin-bottom: 0px;}
  .p19{text-align: left;padding-right: 78px;margin-top: 17px;margin-bottom: 0px;}
  .p20{text-align: left;margin-top: 32px;margin-bottom: 0px;}
  .p21{text-align: left;padding-right: 75px;margin-top: 2px;margin-bottom: 0px;}
  .p22{text-align: left;padding-right: 81px;margin-top: 15px;margin-bottom: 0px;}
  .p23{text-align: left;margin-top: 52px;margin-bottom: 0px;}
  .p24{text-align: left;padding-right: 80px;margin-top: 2px;margin-bottom: 0px;}
  .p25{text-align: left;padding-right: 81px;margin-top: 2px;margin-bottom: 0px;}
  .p26{text-align: left;padding-right: 127px;margin-top: 16px;margin-bottom: 0px;}
  .p27{text-align: left;padding-right: 151px;margin-top: 17px;margin-bottom: 0px;}
  .p28{text-align: left;padding-right: 86px;margin-top: 18px;margin-bottom: 0px;}
  .p29{text-align: left;margin-top: 31px;margin-bottom: 0px;}
  .p30{text-align: left;padding-right: 77px;margin-top: 3px;margin-bottom: 0px;}
  .p31{text-align: left;padding-right: 84px;margin-top: 14px;margin-bottom: 0px;}
  .p32{text-align: left;padding-right: 104px;margin-top: 15px;margin-bottom: 0px;}
  .p33{text-align: left;padding-right: 83px;margin-top: 2px;margin-bottom: 0px;}
  .p34{text-align: left;padding-left: 72px;margin-top: 0px;margin-bottom: 0px;}
  .p35{text-align: left;padding-left: 72px;margin-top: 2px;margin-bottom: 0px;}
  .p36{text-align: left;padding-left: 96px;padding-right: 82px;margin-top: 18px;margin-bottom: 0px;}
  .p37{text-align: left;margin-top: 33px;margin-bottom: 0px;}
  .p38{text-align: left;margin-top: 3px;margin-bottom: 0px;}
  .p39{text-align: justify;padding-right: 82px;margin-top: 18px;margin-bottom: 0px;}
  .p40{text-align: justify;padding-right: 81px;margin-top: 35px;margin-bottom: 0px;}
  .p41{text-align: left;padding-right: 88px;margin-top: 15px;margin-bottom: 0px;}
  .p42{text-align: left;padding-right: 86px;margin-top: 3px;margin-bottom: 0px;}
  .p43{text-align: left;padding-right: 88px;margin-top: 3px;margin-bottom: 0px;}

}
